<body id="top">

<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="#">Design Is Dead - AEM 6.3 Demo site</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="#">Home</a></li>
        </ul>
    </nav>
</header>

<!-- Main -->
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Welcome to the dark side</h2>
        <p>We serve you AEM6.3 style components</p>
    </header>
    <div class="container">
        <div class="row">
            <div data-sly-resource="${'par' @ resourceType='foundation/components/parsys'}"></div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Resources</h3>
                        <ul class="alt">
                            <li><a href="#">Nascetur nunc varius</a></li>
                            <li><a href="#">Vis faucibus sed tempor</a></li>
                            <li><a href="#">Massa amet lobortis vel</a></li>
                            <li><a href="#">Nascetur nunc varius</a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>Faucibus</h3>
                        <ul class="alt">
                            <li><a href="#">Nascetur nunc varius</a></li>
                            <li><a href="#">Vis faucibus sed tempor</a></li>
                            <li><a href="#">Massa amet lobortis vel</a></li>
                            <li><a href="#">Nascetur nunc varius</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>Design is Dead</h2>
                <p>For over a decade, we make good on our promise, as a trusted long-term partner for our clients. We deliver. Always on target, often above expectations.</p>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; Design Is Dead.  All rights reserved.</li>
            <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
            <li>Info: <a href="mailto:joeri@designisdead.com">at your local JEDI knight</a></li>
        </ul>
    </div>
</footer>

</body>
</html>